/* Error: $alpha: Expected 0.9g to have no units or "%".
 *    ,
 * 12 |       rgba($primary-color, 0.9g)
 *    |       ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass/_contact.scss 12:7  @import
 *   sass/main.scss 6:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $alpha: Expected 0.9g to have no units or "%".\a    \2577 \a 12 \2502        rgba($primary-color, 0.9g)\a    \2502        ^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass/_contact.scss 12:7  @import\a   sass/main.scss 6:9       root stylesheet';
}
