.about {
  padding-bottom: 2 rem;

  &__bio-image {
    height: 50vh;
    width: 100%;

    background: 
      linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.7)
      ),
      url('https://i.ibb.co/nbBfDrR/git.jpg') center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p {
      margin-bottom: 2rem;

    }

  }

  &__bio {
    width: 80%;
    text-align: center;
    line-height: 30px;

    .text-secondary {
      padding-bottom: 1rem;
      line-height: 2rem;
    }
  }

  .jobs {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    &__job {
      background: lighten($primary-color, 10%);
      padding: 0.5rem;
      border-bottom: 5px solid $secondary-color;
      // grid-template: rows;
      align-items: stretch;


      h2, h3 {
        margin: 0.9rem 0;
      }
      h6 {
        margin: 1rem 0;
        font-size: 0.9rem;
      }
      p {
        justify-content: center;
      }
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }

  footer {
    transform: 
      rotate(90deg)
      translate(-3rem, -5rem);
  }
}

// section card Voluntary
.logros {
  box-sizing: border-box;
}

.voluntary {
  padding: 60px 20px;
  text-align: center;
  color: aqua;
  font-size: 2.5em;
  font-weight: 700;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  gap: 6rem;
  margin: 2rem 20vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;  
  border-radius: calc(#{$curve} * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 15px 20px rgba(172, 170, 170, 0.356);
  background-color: white;
  border-radius: 25px;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(#{$curve} * 1px);
  background-color: $surface-color;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(#{$curve} * 1px) 0 0 0;
  background-color: $surface-color;
  backdrop-filter: blur(5px);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  backdrop-filter: blur(15px);
  z-index: 1;
}

.card__arc path {
  fill: $surface-color;
  backdrop-filter: blur(15px);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1.5em;
  margin: 0 0 .3em;
  color: white;
}

.card__title h3:before {
  color: rgb(59, 56, 56);
}


.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: $inter;  
  font-size: .8em; 
  color: white;  
}

.card__status {
  font-size: 1em;
  color: whitesmoke;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: white;
  /* color: rgb(59, 56, 56); */
  background-color: $surface-color;
  backdrop-filter: blur(5px);
  font-family: $inter;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  overflow: hidden;
}

a.btn {
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  padding: 60px 40px;
  justify-self: baseline;
  // text-align: center;
  // text-align: center;
  // display: inline-table;
  // text-align: center;
  // background: $surface-color;
  // color: white;
  // text-decoration: none;
  // padding: 20px 36px;
  // margin-left: 20px auto;
  // border-radius: 40px;
  // font-size: 1.25em;
  // transition: 0.25s;
  // background-color: $surface-color;
  // text-align: center;
  // font-family: $inter;
  // font-weight: 700;
  // cursor: pointer;
  align-content: center;
  padding: 60px 20px;
  text-align: center;
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: 700;
}

a.btn:hover {
  letter-spacing: 2px;
  color: aqua;
  background-color: $surface-color;
  background-color: blur(5px);
}
