.about {
  padding-bottom: 2 rem;

  &__bio-image {
    height: 50vh;
    width: 100%;

    background: 
      linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.7)
      ),
      url('https://i.ibb.co/nbBfDrR/git.jpg') center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p {
      margin-bottom: 2rem;

    }

  }

  &__bio {
    width: 80%;
    text-align: center;

    .text-secondary {
      padding-bottom: 1rem;
    }
  }

  .jobs {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    &__job {
      background: lighten($primary-color, 10%);
      padding: 0.5rem;
      border-bottom: 5px solid $secondary-color;
      // grid-template: rows;
      align-items: stretch;


      h2, h3 {
        margin: 0.9rem 0;
      }
      h6 {
        margin: 1rem 0;
        font-size: 0.9rem;
      }
      p {
        justify-content: center;
      }
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }

  footer {
    transform: 
      rotate(90deg)
      translate(-3rem, -5rem);
  }
}

// section card Voluntary


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 6rem;
  margin: 10rem 20vw;
  padding: 0;
  list-style-type: none;
  // box-shadow: 0 15px 20px rgba(245, 243, 243, 0.356);
}

.card {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;  
  border-radius: calc(#{$curve} * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 15px 20px rgba(172, 170, 170, 0.356);
  background-color: white;
  border-radius: 25px;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(#{$curve} * 1px);
  background-color: $surface-color;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(#{$curve} * 1px) 0 0 0;
  background-color: $surface-color;
  backdrop-filter: blur(5px);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  backdrop-filter: blur(15px);
  z-index: 1;
}

.card__arc path {
  fill: $surface-color;
  backdrop-filter: blur(15px);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1.5em;
  margin: 0 0 .3em;
  color: white;
}

.card__title h3:before {
  color: rgb(59, 56, 56);
}


.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: white;  
}

.card__status {
  font-size: 1em;
  color: whitesmoke;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: white;
  /* color: rgb(59, 56, 56); */
  background-color: $surface-color;
  backdrop-filter: blur(5px);
  font-family: monospace;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}




// .card__education {
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//   height: 100vh;
//   width: 100%;

//   width: 100%;
//   // min-width: 320px;
//   padding-top: 100px;
//   padding-right: 60px;
//   padding-bottom: 60px;
//   padding-left: 60px;
//   text-align: center;
  
//   h2 {
//       margin: 0.5rem 0;
//       color: $secondary-color;
//       font-weight: 600;
//       padding-top: 10px;
//       padding-bottom: 10px;
//     }
  
  
//   .container {
//     display: flex;
//     height: 80vh;
//     justify-content: space-around;
//     align-items: center;
//     &__card {
//       position: relative;
//       display: flex;
//       justify-content: start;
//       width: 300px;
//       height: 240px;
//       background: lighten($primary-color, 3%);
//       border-radius: $border-radius;
//       box-shadow: 0 15px 20px rgba(172, 170, 170, 0.356);
    
    
//       img {
//         margin-top: 50px;
//         margin-left: 5px;
//         width: 100px;
//         height: 120px;
//         border-radius: $border-radius 0 0 $border-radius;
//         object-fit: cover;      
//       }
    
//       .btn {
//         position: absolute;
//         bottom: -25px;
//         right: -25px;
//         border: none;
//         outline: none;
//         display: flex;
//         align-items: center;
//         background-color: aqua;
        
//         color: rgb(43, 38, 38);;
//         padding: 15px 30px;
//         font-size: 1rem;
//         border-radius: $border-radius;
//         cursor: pointer;
//         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
        
//         a {
//           text-decoration: none;
//           color: $primary-color;
//           font-weight: 400;
//         }
//         i {
//         margin-left: 5px;
//         font-size: 0.5rem;
//         }
//       }
//     }
//   } 
// }

// .container__text {
//   padding: 20px 20px 0;
//   h2 {
//     color: $secondary-color;
//     font-weight: 400;
//     padding-top: 10px;
//     padding-bottom: 10px;
//   }

//   p {
//     font-size: 0.9rem;
//   }
//   &__timing {
//     display: flex;
//     margin: 20px 0 10px;
//     &__timing_time {
//       margin-right: 40px;
//     }
//     h3 {
//       justify-content: flex-start;
//       align-content: flex-start;
//       margin-bottom: 5px;
//       font-size: 0.9rem;
//       font-weight: 400;
//       color: $secondary-color;
//     }

//     a {
//       text-decoration: none;
//     }
//     .btn a{
//       color: black;
//       font-weight: bold;

//     }
//     span {
//       color: white;
//       font-weight: bold;
//       font-size: 1rem;
//     }
//   }
// }

