@include mobile {
  .home {
    height: 80vh;
    .image {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__photo {
        align-items: stretch;
        height: 140px;
        width: 50%;
      }
      &__name {
        justify-content: center;
        &--first {
          font-size: 3rem;
        }
        &--last {
          font-weight: 5rem;
        }
      } 
    }
  }
  footer {
    transform:
      rotate(90deg)
      translate(-3rem, -5rem);
  }
}

@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .projects {
    &__bio-image {
      height: 40vh;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .home {
    
    .image {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      &__photo {
        height: 300px;
        width: 30%;
      }
    }
  }
}

@include media-lg {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
    .home {
    
    .image {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      align-items: center;
      &__photo {
        height: 300px;
        width: 30%;
      }
    }
  }

}

@include media-xl {
  .projects__bio-image {
    height: 50vh;
  }
  .home {
    height: 100vh;
    .image {
      justify-content: space-between;
      align-items: center;
      &__photo {
        height: 600px;
        width: 40%;
      }
      &__name {
        // overflow: hidden;
        // justify-content: center;
        &--first {
          font-size: 5rem;
        }
        &--last {
          font-weight: 5rem;
        }
      }
    }
  }
}