@include mobile {
  .home {
    .image {
      display: flex;
      flex-wrap: wrap-reverse;
      align-self: center;
      justify-content: center;
      gap: 1em;

      &__photo {
        height: 50vw;
        width: 50vw;
        order: 1;

        img {
          height: 100%;
          width: 100%;
          border-radius: 100%;
          object-fit: cover;
        }
      }

      &__name {
        margin: 1rem;
        line-height: 2.9rem;
      }
    }
  }

  .jobs {
    &__job {
      flex-wrap: wrap;

      &--img {
        align-items: center;
        justify-content: center;
        align-self: center;
      }

      &--info {
        h2,
        h3 {
          margin: -1.5rem 0;
        }
      }
    }
  }

  .projets {
    display: grid;
    height: 80vh;

    &__items {
      img {
        height: 100px;
        width: 100px;
      }
    }
  }


  footer {
    transform:
      rotate(90deg) translate(-3rem, -5rem);
  }
}

@include media-md {

  .home {
    .image {
      flex-wrap: wrap-reverse;

      &__photo {
        height: 10vw;
        width: 10vw;
        order: 1;

        img {
          height: 100%;
          width: 100%;
          border-radius: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .projects {
    display: grid;

    &__bio-image {
      height: 40vh;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    .text-secondary {
      font-size: 3rem;
    }

  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .jobs {
    &__job {
      flex-wrap: nowrap;
    }
  }

}

@include media-lg {

  .home {
    .image {
      flex-wrap: wrap-reverse;

      &__photo {
        height: 15vw;
        width: 15vw;
        order: 1;

        img {
          height: 100%;
          width: 100%;
          border-radius: 100%;
          object-fit: cover;
        }
      }
    }
  }


  .projects {
    display: grid;

    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-xl {

  .projects__bio-image {
    height: 50vh;
  }

  .home {
    .image {
      flex-wrap: wrap-reverse;

      &__photo {
        height: 20vh;
        width: 20vh;
        order: 1;

        img {
          height: 100%;
          width: 100%;
          border-radius: 100%;
          object-fit: cover;
        }
      }
    }
  }

}